:root {
    --backgroundcolor-primary: #fff;
    --color-accent: #2196f3;
    --primary-text-color: #212121;
    --accent-text-color: #fff;
    --font-family-primary: 'Roboto', sans-serif;
    --font-family-logo: 'Raleway', sans-serif;
    --button-color: #f5f4fA;
    --primary-line-height: 1, 17;
    --icon-primary-color: #afb1b8;
}