.input {
    width: 100%;
    background-color: #2f303a;
    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
    padding: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    @include for-desktop-up {
        width: 358px;   
       }
}
.footer-input {
margin: 0 auto;
 margin-bottom: 20px;  
 width: 100%;
//  max-width: 450px;
 @include for-tablet-up {
    margin-bottom: 20px;
    width: 450px;
 } 
 @include for-desktop-up {
  min-width: 385px;  
  margin-bottom: 0;
 }
}
