.input {
    width: 356px;
    background-color: #2f303a;
    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
    padding: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}
